:root{
    --color-primary:#FFFFFF;
    --color-secondary: #D0D6F9;
    --color-gray:grey;
    --color-black:#0B0d17;
    --background-img-desk: url("./assets/home/background-home-desktop.jpg");
    --background-img-mob: url("./assets/home/background-home-mobile.jpg");
    --background-img-dest-desk: url("./assets/destination/background-destination-desktop.jpg");
    --background-img-dest-mob: url("./assets/destination/background-destination-mobile.jpg");
    --background-img-crew-desk: url("./assets/crew/background-crew-desktop.jpg");
    --background-img-crew-mob: url("./assets/crew/background-crew-mobile.jpg");
    --background-img-tech-desk: url("./assets/technology/background-technology-desktop.jpg");
    --background-img-tech-mob: url("./assets/technology/background-technology-mobile.jpg");

    --btn-box-shadow:0 1rem 2rem  rgb(255, 255, 255, 0.61);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--background-img-desk);
    background-size: cover;
    background-position: center;
    color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
}


/* nav */

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    position: relative;
    width: 50%;
    height: 1px;
    
    opacity: 25.15%;
    border: 1px solid var(--color-secondary);
}

.logo {
    margin: 4rem;
}



.mobile-nav-toggle{
    display: none;
}
   
    
.primarynav {
    display: flex;
    gap: 48px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(1rem);
    padding: 2rem;
    width: 1000px;
    
    
    opacity: 1;
}


.primarynav li {
    list-style: none;
    margin-left: 50px;
}

.primarynav a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
   
}

.primarynav a:hover{
    border-bottom: 3px solid var(--color-gray);
    padding-bottom: 30px;
}




@media (max-width: 35em) {
    body {
        background-image: var(--background-img-mob);
    }

    .logo {
        margin: 2rem;
    }

    .line{
        border: 0;
    }
    
    /*primary nav*/

    .primarynav {
        position:fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2em;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(1rem);
        gap: 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primarynav[data-visible="true"] {
        transform: translateX(0%);
        
    }

    .primarynav li {
        margin-left: 0;
    }

    .primarynav a:hover{
        border-bottom: 3px solid var(--color-gray);
        padding-bottom: 3px;
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("assets/shared/icon-close.svg");
    }

    /* content home*/

    .content {
        position: fixed;
        align-items: center;
        margin-top: 50px !important;
        margin-left: 0 !important;
    }
    
    .content .container {
        align-items: center;
        margin-bottom: 20px;
        
        display: flex;
        flex-direction: column;
       
    }

    .content .container h1{
        font-size: 16px !important;
    }

    .content .container h2 {
        font-size: 80px !important;
    }

    .content .container p {
        font-size: 15px !important;
        text-align: center;
        margin-left: 24px;
        margin-right: 24px;
        
    }

    .main-btn {
        position: fixed;
        margin-left: 35% !important;
        top: 200px !important;
    }

    .main-btn a {
        width: 150px !important;
        height: 150px !important;
        top: 40rem;
    }

    .main-btn a .txtbtn{
        font-size: 20px !important;
    }

    .main-btn a:hover{
        border: #979797 44px solid ;
    }    
}





/* content*/ 

.content {
    margin-top: 350px;
    margin-left: 200px;
    height: 382px;
    width: 450px;
    position: relative;
    
    align-items: center;
    opacity: 0;
    animation: animateParagraph 5s ease forwards;
}

@keyframes animateParagraph {
    to {
        opacity: 1;
    }
}

.content .container{
    color: var(--color-secondary);
    gap: 20px;
}


.content .container h1 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.72px;
   
    line-height: 33.6px;
    font-family: "Barlow Condensed", sans-serif;
}

.content .container h2 {
    font-size: 150px;
    font-weight: 400;
    font-family: "Bellefair";

    color: var(--color-primary);
}

.content .container p {
    font-size: 18px;
    line-height: 32px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    
}

.main-btn {
    position: fixed;
    margin-left: 70%;
    top: 550px ;
}

.main-btn a {
   
    color: var(--color-black);
    background-color:var(--color-primary);
    position: fixed;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    text-align: center;
}


.main-btn a .txtbtn {
    position: relative;
    font-size: 32px;
    font-family: "Bellefair", sans-serif;
    line-height: 36.67px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
   
    top: 40%;
    
}

.main-btn a:hover {
    width: 450px;
    height: 450px;
    border: #979797 88px solid ;
}






