

:root{
    --color-primary:#FFFFFF;
    --color-secondary: #D0D6F9;
    --color-gray:grey;
    --color-black:#0B0d17;
    --background-img-desk: url("./assets/home/background-home-desktop.jpg");
    --background-img-mob: url("./assets/home/background-home-mobile.jpg");
    --background-img-dest-desk: url("./assets/destination/background-destination-desktop.jpg");
    --background-img-dest-mob: url("./assets/destination/background-destination-mobile.jpg");
    --background-img-crew-desk: url("./assets/crew/background-crew-desktop.jpg");
    --background-img-crew-mob: url("./assets/crew/background-crew-mobile.jpg");
    --background-img-tech-desk: url("./assets/technology/background-technology-desktop.jpg");
    --background-img-tech-mob: url("./assets/technology/background-technology-mobile.jpg");
    --btn-box-shadow:0 1rem 2rem  rgb(255, 255, 255, 0.61);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--background-img-dest-desk);
    background-size: cover;
    background-position: center;
    color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
}


/* nav */

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    position: relative;
    width: 50%;
    height: 1px;
    
    opacity: 25.15%;
    border: 1px solid var(--color-secondary);
}

.logo {
    margin: 4rem;
}



.mobile-nav-toggle{
    display: none;
}
   
    
.primarynav {
    display: flex;
    gap: 48px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(1rem);
    padding: 2rem;
    width: 1000px;
    
    
    opacity: 1;
}


.primarynav li {
    list-style: none;
    margin-left: 50px;
}

.primarynav a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
   
}

.primarynav a:hover{
    border-bottom: 3px solid var(--color-gray);
    padding-bottom: 30px;
}




@media (max-width: 35em) {
    body {
        background-image: var(--background-img-dest-mob);
        overflow:scroll ;
    }

    .logo {
        margin: 2rem;
    }

    .line{
        border: 0;
    }
    
    /*primary nav*/

    .primarynav {
        position:fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2em;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(1rem);
        gap: 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primarynav[data-visible="true"] {
        transform: translateX(0%);
        
    }

    .primarynav li {
        margin-left: 0;
    }

    .primarynav a:hover{
        border-bottom: 3px solid var(--color-gray);
        padding-bottom: 3px;
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("assets/shared/icon-close.svg");
    }

    /* content home*/

    .content {
        position: fixed;
        align-items: center;
        margin-top: 50px !important;
        margin-left: 0 !important;
    }
    
    .content .container {
        align-items: center;
        margin-bottom: 20px;
        
        display: flex;
        flex-direction: column;
       
    }

    .content .container h1{
        font-size: 16px !important;
    }

    .content .container h2 {
        font-size: 80px !important;
    }

    .content .container p {
        font-size: 15px !important;
        text-align: center;
        margin-left: 24px;
        margin-right: 24px;
        
    }

    .main-btn {
        position: fixed;
        margin-left: 35% !important;
        top: 200px !important;
    }

    .main-btn a {
        width: 150px !important;
        height: 150px !important;
        top: 40rem;
    }

    .main-btn a .txtbtn{
        font-size: 20px !important;
    }

    .main-btn a:hover{
        border: #979797 44px solid ;
    }

    /* content dest left*/

    .selecteddestination {
        display: flex !important;
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
        align-items: center;
        flex-direction: column;
        
    }
    
    
    .selecteddestination h1 {
        font-size: 16px !important; 
        margin-bottom: 32px;
    }
    
    
    .greytext {
        font-size: 16px !important;
        margin-right: 20px !important;
    }
      
    .selecteddestination img {
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: 170px;
        height: 170px;
    }


    /*content dest right*/

    .nav2 {
        margin-left: 0 !important;
        width: 100% !important;
        height: 0 !important;
        left: 0 !important;
        top: 0 !important;
        position: relative !important;
        display: flex !important;

        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-between !important;
       
    }

    

    .nav2 ul {
       
        margin-top: 30px;
        margin-bottom: 60px!important;
    }

    .nav2 ul li {
        list-style-type:none;
    }
    
    
    .nav2 ul li a {
       
        font-size: 16px !important;
        
        position: fixed;
        
    }

    .nav2 ul li a:hover { 
        position:fixed !important;
        color: var(--color-secondary);
        
        border-bottom: 3px solid var(--color-gray);
        padding-bottom: 10px !important;
        
    }
    
    .nav2 ul li a:focus {
        position:fixed !important;
        color: var(--color-primary);
        
        border-bottom: 3px solid var(--color-primary);
        padding-bottom: 10px !important;
    }

    .nav2 h1 {
        font-size: 56px !important;
        margin-bottom: 3px !important;
        line-height: 64.18px !important;
        text-align: center !important;
    }
    
    .nav2 p {
        font-size: 18px !important;
        text-align: center !important;
        width: 327px !important;
        
    }
    
    .disppar1 {
        top: 32px!important;
        width: 100% !important;
        text-align: center !important;
        position: relative !important;
    }
    
    .disppar1 h4{
        font-size: 14px !important;
        margin-top: 20px !important;
    }
    
    .disppar1 h2 {
        font-size: 28px !important;
        margin-top: 20px !important;
        top: 29px;
        
    }
    
    .disppar2 {
        
        left: 0;
        margin-top: 28px;
        width: 100% !important;
        text-align: center !important;
    }
    
    .disppar2 h5{
        width: 144px;
        position: absolute;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 14px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .disppar2 h3 {
       
        margin-left: 0 !important;
       
        font-size: 28px !important;

    }
    
    
    .linedestination {
        position: relative;
        width: 100%;
        height: 3px;
        top: 35px;
        background: var(--color-primary);
    }

    
    /*.destinationstatic {
        border-bottom: 3px solid var(--color-primary);
        padding-bottom: 20px;
        width: 100%;
        color: var(--color-primary);
    }*/
    
    .linedest {
        position: absolute;
        width: 327px !important;
        height: 1px;
       
        color:  var(--color-gray);
        margin-top: 32px  !important;
        margin-bottom: 32px  !important;
        
        opacity: 25.15%;
        border: 1px solid var(--color-secondary);
        
    }
    
}





/* content*/ 

.content {
    margin-top: 350px;
    margin-left: 200px;
    height: 382px;
    width: 450px;
    position: relative;
    
    align-items: center;
    opacity: 0;
    animation: animateParagraph 5s ease forwards;
}

@keyframes animateParagraph {
    to {
        opacity: 1;
    }
}

.content .container{
    color: var(--color-secondary);
    gap: 20px;
}


.content .container h1 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.72px;
   
    line-height: 33.6px;
    font-family: "Barlow Condensed", sans-serif;
}

.content .container h2 {
    font-size: 150px;
    font-weight: 400;
    font-family: "Bellefair";

    color: var(--color-primary);
}

.content .container p {
    font-size: 18px;
    line-height: 32px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    
}

.main-btn {
    position: fixed;
    margin-left: 70%;
    top: 550px ;
}

.main-btn a {
   
    color: var(--color-black);
    background-color:var(--color-primary);
    position: fixed;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    text-align: center;
}


.main-btn a .txtbtn {
    position: relative;
    font-size: 32px;
    font-family: "Bellefair", sans-serif;
    line-height: 36.67px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
   
    top: 40%;
    
}

.main-btn a:hover {
    width: 450px;
    height: 450px;
    border: #979797 88px solid ;
}



/*planet content*/

.planetcontent h1 {
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 100px;
    margin-bottom: 30px;
    
    
}

.planetcontent p {
    color: var(--color-secondary);
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    
    width: 444px;
    
}

.disppar1 {
    width: 153px;
    height: 61px;
    top: 411px;
    margin-top: 28px;
   
    position: absolute;
}

.disppar1 h4{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.36px;
    color: var(--color-secondary);
    margin-top: 20px;
    position: absolute;
    text-transform: uppercase;
   
}

.disppar1 h2 {
    width: 160px;
    text-align: left;
    
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--color-primary);
    position: absolute;
    text-transform: uppercase;
    margin-top: 20px;
    top: 29px;
    
}

.disppar2 {
    width: 144px;
    height: 61px;
    top: 411px;
    left: 221.5px;
    margin-top: 28px;
    position: absolute;
}

.disppar2 h5{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.36px;
    color: var(--color-secondary);
    width: 144px;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

.disppar2 h3 {
    width: 144px;
    top: 29px;
    margin-left: 30px;
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--color-primary);
    position:absolute;
    text-transform: uppercase;
    margin-top: 20px;
}


.linedestination {
    position: relative;
    width: 100%;
    height: 3px;
    top: 35px;
    background: var(--color-primary);
}


.selecteddestination {
    position: relative;
    top: 50px;
    left: 200px;
    opacity: 0;
    animation: animateDest 3s ease forwards;

}

@keyframes animateDest {
    to{
        opacity: 1;
    }
}


.selecteddestination h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4.72px;
}


.greytext {
    opacity:25%;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 4.72px;
    color: var(--color-gray);
    margin-right: 20px;
}
  
.selecteddestination img {
    margin-top: 97px;
    margin-left: 50px;
    
}

.nav2 {
    position: fixed;
    width: 445px;
    height: 472px;
    left: 1150px;
    top: 300px;
    opacity: 0;
    animation: animateNav 3s ease forwards;
}

@keyframes animateNav {
    to {
        opacity: 1;
    }
}


.planetcontent ul {
    width: 285px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    
    
}

.planetcontent ul li {
    list-style-type:none;
    
}


.planetcontent ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    position: fixed;
    
}

/*.destinationstatic {
    border-bottom: 3px solid var(--color-primary);
    padding-bottom: 10px;
    color: var(--color-primary);
}*/


/*.whitestatic {
    color: var(--color-primary);
    width: 100%;
    position: relative;

    height: 3px;
    display:flex;
    padding-bottom: 5px;
    
}*/



.planetcontent ul li a:hover { 
    position:fixed;
    color: var(--color-secondary);
    
    border-bottom: 3px solid var(--color-gray);
    padding-bottom: 10px;
    
}

.planetcontent ul li a:focus {
    position:fixed;
    color: var(--color-primary);
    
    border-bottom: 3px solid var(--color-primary);
    padding-bottom: 10px;
}



@keyframes animateHover {
    
    to{
        opacity: 1;
    }
}

.linedest {
    position: absolute;
    width: 444px;
    height: 1px;
   
    color:  var(--color-gray);
    margin-top: 54px;
    
    opacity: 25.15%;
    border: 1px solid var(--color-secondary);
    
}





