:root{
    --color-primary: linear-gradient(-20deg,red, rgb(247, 102, 102));
    --color-light:black;
    --color-dark: #ecf0f3;
    --box-shadow: 0 0 5rem rgba(255, 255, 255, 0.61);
    --btn-box-shadow:0 1rem 2rem  rgb(255, 255, 255, 0.61);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-primary);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation*/

a{
    color: var(--color-dark);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}

li{
    list-style: none;
}

nav{
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 2rem 0;
}

nav .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 4rem;
}

nav ul li:last-child a{
    background: var(--color-primary);
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    transition: all 300ms ease-out;
}

nav ul li:last-child a:hover {
    box-shadow: var(--btn-box-shadow);
}

.content{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: animateContent 5s 1s ease forwards;
}

@keyframes animateContent {
    to{
        opacity: 1;
    }
}

.content .container{
    margin-left: 5rem;
    color: var(--color-light);
    width: 36rem;
}

.content .container h1 {
    font-size: 3rem;
}

.content .container p {
    margin-top: 2rem;
    line-height: 1.4;
}

.content a{
    background: var(--color-light);
    padding: 1.2rem 3rem;
    font-weight: 500;
    display: inline-block;
    margin-top: 1.8rem;
    border-radius: 2rem;
}

.content a:hover {
    box-shadow: var(--btn-box-shadow);
}


/* BACKGROUND ANIMATION */

.tray {
    width: 70rem;
    height: 70rem;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 50%;
    right: -20rem;
    transform: translateY(-50%);
    opacity: 0;
    animation: animateTray 5s ease forwards;
}


@keyframes animateTray {
    to{
        opacity: 1;
    }
}



.plate {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 38rem;
    height: 38rem;
    background: var(--color-light);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    animation: animatePlate 30s 3s linear forwards infinite;
}

@keyframes animatePlate {
    to{
        transform: rotate(360deg);
    }
}


.plate .food{
    width: 26rem;
    height: 26rem;
    position: absolute;
    top: 53%;
    left: 47%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 50%;
}

img {
    width: 100%;
}